block dependencies
  include ../blocks/all

block vars
  - title = 'Especial brand'
  - version = Date.now() // process.env.npm_package_version


<!DOCTYPE html>
html(lang="en")
head
  block head
    block meta
      meta(name="viewport" content="width=device-width, initial-scale=1")
      meta(charset="UTF-8")
      title=title
    block styles
      link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
      link(rel="stylesheet" href="/styles/main.css?v=" + version)
body
  block body
    .base-layout
      .base-layout__header
        block header
          +header
      .base-layout__content
        block content
          .container
            h2 content
      .base-layout__footer
        block footer
          +footer
  block modals
    // - MODALS

  block scripts
    // - SCRIPTS
    script(src="/scripts/bundle.js?v=" + version)
