.about {
  padding: 84px 0 60px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

  h1 {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 59px;

    color: #A5867C;
  }

  p {
    margin: 5px 5px 23px;
  }

  @include media-breakpoint-down('md') {
    h1 {
      font-size: 30px;
      line-height: 1.34em
    }

    p {
      font-size: 16px;
      line-height: 1.2;
    }
  }
}
