.advantages-archetypes {
  padding: 80px 0;
  color: #A5867C;

  &__header {
    text-align: center;

    h1 {
      font-family: $font-secondary;
      font-weight: bold;
      font-size: 40px;
    }

    p {
      font-weight: 600;
    }
  }

  &__content {
    padding-top: 50px;
  }

  &__box {
    text-align: center;
    h2 {
      font-style: normal;
      font-weight: 600;
    }
  }

  &__list {
    display: block;
    padding-top: 30px;
    text-align: center;
  }

  @include media-breakpoint-up('lg') {
    &__header {
      h1 {
        font-size: 72px;
      }

      p {
        font-size: 20px;
      }
    }

    &__box {
      width: 457px;
      height: 360px;

      margin-left: -121px;
      float: left;

      background: linear-gradient(270deg, #F5E2D0 0.06%, #CEA38B 58.17%);

      h2 {
        width: 302px;
        margin: 74px 42px 74px auto;

        font-size: 48px;
        line-height: 59px;

        color: #FFFFFF;
        text-align: left;
      }
    }

    &__list {
      text-align: right;
    }
  }
}

.advantage-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  max-width: 335px;
  padding: 58px 45px;

  &__icon {
    img {
      height: 81px;
    }
  }

  &__label {
    margin-top: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #A5867C;
  }

  @include media-breakpoint-up('lg') {
    max-width: 366px;
  }
}
