.archetypes {
  background: linear-gradient(270.46deg, #CFA48C 0.35%, #FBE7DC 99.57%);
  padding: 72px 0 109px 0;

  h1 {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 160px;

    color: #A5867C;
  }

  h2 {
    margin-top: 40px;

    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #A5867C;
  }

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #A5867C;
  }

  &__inner {
    position: relative;
  }

  &__image {
    position: absolute;
    right: -138px;
    top: -47px;
  }

  &__left-side {
    flex: 0 0 87%;
  }

  &__text {
    padding: 10px 0 0px 15px;
    flex: 0 0 427px;;
  }

  &__btn {
    display: flex;
    align-items: flex-end;
    padding: 17px 0 14px 115px;

    .btn {
      padding: 17px 46px;
    }
  }

  @include media-breakpoint-down('md') {
    &__image {
      display: none;
    }

    &__left-side {
      flex: 0 0 100%;
    }

    &__text {}
    &__btn {
      text-align: right;
      justify-content: right;
      padding: 17px;
    }
  }

  @include media-breakpoint-down('sm') {
    h1 {
      font-size: 50px;
      line-height: 1.2;
    }

    h2 {
      font-size: 30px;
      line-height: 1.2;
    }

    p {
      font-size: 18px;
      line-height: 1.2;
    }
  }
}
