.feedback {
  padding: 100px 0 75px 0;

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;

    color: #A5867C;
  }

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #A5867C;
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 28px;
    }
  }
}
