.first-screen {
  color: #FFFFFF;
  background: linear-gradient(220deg, #FFF0E1 0.06%, #CEA38B 58.17%);

  &__inner {
    //padding: 60px 0;
    height: 713px;
  }

  &__heading {
    margin-top: 112px;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 61px;
    text-transform: uppercase;
  }

  &__slogan {
    margin-top: 45px;
    margin-left: -16px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
  }

  &__btn {
    margin-top: 52px;
  }

  &__right-side {
    position: relative;
    height: 100%;
  }

  .first-screen__photo {
    position: absolute;
    background: #C09E8F;
    right: 64px;
    bottom: -40px;
    line-height: 0;

    &-img {
      position: relative;
      right: -15px;
      top: -15px;
    }
  }

  @include media-breakpoint-down('md') {

    &__inner {
      height: auto;
      padding: 60px 0;
    }

    &__right-side {
      display: none;
    }

    &__heading {
      margin-top: 0;
      font-size: 32px;
      line-height: 1.2;
    }
    &__slogan {
      margin-left: 0;
      font-size: 18px;
      line-height: 1.2;
      max-width: 400px;
    }
    &__btn {
      font-size: 16px;
      height: 60px;
    }
  }
}
