.footer {
  background-color: #A5867C;

  padding: 63px 0;

  &__inner {
    text-align: center;
  }

  &__title {
    font-family: $font-secondary;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;

    color: #FEEEE0;

    @include media-breakpoint-down('md') {
      font-size: 24px;

      br {
        display: none;
      }
    }
  }

  &__social {
    margin-top: 30px;
  }

  &__logo {
    margin-top: 100px;
  }
}
