.guide {
  margin-top: -50px;
  padding: 200px 0 100px 0;
  background: #FEEEE0;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #a5867c;

  &__left-side {
    flex: 0 0 389px;
    max-width: 389px;
    margin: auto;
  }

  &__right-side {
    padding-right: 20px;
  }

  &__l1 {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 160px;
    color: #A5867C;
  }

  h2 {
    margin-top: 64px;
    margin-bottom: 34px;

    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    color: #A5867C;
  }

  ul {
    padding: 5px 0 0 31px;

    li {
      padding: 0;
      margin: 0;
    }
  }

  .bg {
    position: absolute;
    top: 214px;
    right: 5px;
    height: 388px;
    max-width: initial;
    z-index: 0;
  }

  .btn {
    position: relative;
    margin-top: 350px;
    z-index: 1;
  }

  .price {
    margin: 0 0 0 28px;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    color: #A5867C;
  }

  .g1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 85px;
  }

  .g2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
  }

  @include media-breakpoint-down('md') {

    padding-top: 50px;

    font-size: 16px;
    line-height: 1.2;

    &__left-side {
      text-align: center;
    }

    h1 {
      font-size: 100px;
    }

    h2 {
      font-size: 30px;
      line-height: 1.2;
    }

    .bg {
      position: absolute;
      top: 200px;
      right: -40px;
      height: 300px;
      max-width: initial;
      z-index: 0;
    }

    .btn {
      margin-top: 300px;
      z-index: 1;
    }

    &__price {
      font-size: 18px;
      line-height: 1.3;
    }

    .g1 {
      font-size: 40px;
    }

    .g2 {
      font-size: 22px;
    }
  }
}
