.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  background: #A5867C;
  color: #fff;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    padding: 10px;
    img {
      height: 42px;
    }
  }

  &__nav {
    ul {
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      margin: 0;
    }

    a {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      padding: 10px 32px;
    }
  }

  &__social {
    text-align: right;
  }

  @include media-breakpoint-down('md') {
    &__nav {
      display: none;
    }
  }

  @include media-breakpoint-up('lg') {
    &__social, &__logo {
      padding-right: 35px;
    }
  }
}
