.service {
  $self: &;

  padding: 74px 0 43px 0;
  color: #A5867C;

  font-weight: bold;
  font-size: 20px;
  line-height: 150%;

  &--dark {
    background: linear-gradient(90.06deg, #FFF0E1 0.06%, #CEA38B 58.17%);
    color: #FFF;
  }

  &__container {}
  &__inner {}
  &__card {
    margin-bottom: 30px;
  }

  &__price {
    margin-top: 32px;
    margin-left: 24px;

    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    font-family: $font-main;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
  }

  p {
    margin-bottom: 50px;
  }

  ul {
    margin-top: 27px;
    padding-left: 30px;

    li {
      margin: 0;
    }
  }


  @include media-breakpoint-down('md') {
    font-size: 16px;

    &--dark {
      background: linear-gradient(241deg, #FFF0E1 0.06%, #CEA38B 58.17%);
    }

    &__card {
      margin-left: -15px;
    }

    &__price {
      font-size: 18px;
      line-height: 1.3;
    }

    p {
      margin-bottom: 30px;
    }


    .g1 {
      font-size: 40px;
    }

    .g2 {
      font-size: 22px;
    }
  }

  @include media-breakpoint-up('lg') {

    &--dark {
      padding: 45px 0 0 0;
      margin-bottom: 49px;
    }

    &__about {
      padding-left: 21px;
    }

    &__card {
      margin-left: -21px;
      margin-top: 43px;

      #{$self}--dark & {
        margin-bottom: -49px;
      }
    }

    .g1 {
      padding-left: 12px;
      font-weight: bold;
      font-size: 64px;
      line-height: 85px;
    }
    .g2 {
      font-size: 36px;
      line-height: 48px;
    }

  }
}

.service-card {
  position: relative;
  display: inline-block;
  max-width: 532px;
  background-color: #D0C1BC;

  &__inner {
    position: relative;
    top: -23px;
    right: -23px;
    background-color: #fff;
    box-shadow: 0 14px 14px 5px rgba(0, 0, 0, 0.06);
  }

  &__image {
    img {
      width: 100%;
    }
  }
  &__bottom {
    padding: 19px 45px 43px 38px;

    &:after {
      content: '';
      display: table;
      height: 0;
      clear: both;
    }
  }

  &__title {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;

    color: #A5867C;
  }
  &__btn {
    display: inline-block;
    float: right;
    margin-top: 41px;

    .btn {
      width: 241px;
    }
  }

  @include media-breakpoint-down('md') {
    &__title {
      font-size: 20px;
      line-height: 1.2;
    }
    &__btn {
      margin-top: 15px;

      .btn {
        width: auto;
      }
    }
  }
}
