.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: 73px;
  padding: 17px 58px;
  border-radius: 30px;

  font-family: $font-main;
  font-weight: 600;
  font-size: 20px;
  line-height: 104%;

  color: #FFFFFF;
  background: #A5867C;

  cursor: pointer;

  &--light {
    background: #FFFFFF;
    color: #A5867C;
  }

  &--block {
    display: flex;
    width: 100%;
  }
}
