extends layouts/base

block content
  section#first-screen
    +first-screen
  section#about
    +about
  section#archetypes
    +archetypes
  section#service
    +service
  section#guide
    +guide
  section#feedback
    +feedback
