@import "../variables";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: $font-main;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #0E0F24;
  background: #FFF;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;

  @include media-breakpoint-down(lg) {
    font-size: 14px;
  }
}

section:before {
  display: block;
  content: "";
  height:  $header-height;
  margin: -$header-height 0 0;
}

:focus {
  outline: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

hr {
  border: none;
  border-top: 2px solid #B7BDD2;
  margin: 2rem 0;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width:  1em;
  height: 1em;
  margin-left: 0.3em;
  margin-right: 0.3em;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
