input, textarea {
  width: 100%;
  padding: 28px 22px;
  margin: 1rem 0;
  background: #FEEEE0;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

::placeholder {
  color: rgba(165, 134, 124, 0.57);
}

button {
  margin: 1rem 0;
  border: none;
}
