.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  opacity: 0.8;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
