
h1,  h2, h3, h4, h5, h6,
.h1,.h2,.h3,.h4,.h5,.h6,.h
p, ul, li {
  margin: 1rem 0;
}

h1,  h2, h3, h4, h5, h6,
.h1,.h2,.h3,.h4,.h5,.h6,.h {
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

h1, .h1 {
  font-size: 4rem;
  line-height: 1.06;

  @include media-breakpoint-down(lg) {
    font-size: 3rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 2.3rem;
  }
}

h2, .h2 {
  font-size: 3rem;
  line-height: 1.1;

  @include media-breakpoint-down(lg) {
    font-size: 2.4rem;
  }

  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: 2rem;
  line-height: 1.12;

  @include media-breakpoint-down(sm) {
    font-size: 1.8rem;
  }
}

h4, .h4 {
  font-size: 1.75rem;
  line-height: 1.14;
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
  line-height: 1.20;
  font-weight: normal;

  @include media-breakpoint-down(sm) {
    font-size: 1.14rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.04em;
  transition: color 0.3s;
}
