mixin about
  .about
    .container 
      h1 Especial brand создан в 2021 году
      p Основатель Especial Brand, Анастасия Исаенко - эксперт в создании личного бренда для блогеров, экспертов и коммерческих аккаунтов, ментор в инстаграм и специалист по распаковке личности и архетипам.
      p 
        | «В Instagram я пришла ещё в далеком 2012 году , когда эта сеть была просто как фотоальбом :) ни кто не писал посты, не было сторис. Но с тех пор многое изменилось, и уже никто не относится к инстаграму, как просто к месту с фотографиями.Инстаграм - это  самая популярная социальная сеть, через которую можно стать известным, найти полезную информацию ну и заработать деньги - большие деньги :)
      p Многие мои клиенты, хотят идти в ногу со временем, и монетизировать свои Инстаграм аккаунты, но не знают с чего начать, что продавать и главное как, вот тут нам на помощь и приходят архетипы, благодаря им мы понимаем свои сильные стороны и получаем руководство к действию, что позволяет дойти до цели быстро и и качественно, обходя «метод проб и ошибок».
      p Анастасия Исаенко, основатель @especial.brand