mixin advantages-archetypes
  .advantages-archetypes
    .container
      .advantages-archetypes__header
        h1 >250 000 человек
        p уже прошли тест и определили свои роли
      .advantages-archetypes__content
        .container
          .advantages-archetypes__box
            h2 Зачем проходить тест?
          .advantages-archetypes__list
            .advantage-item
              .advantage-item__icon
                img(src="/images/advantage-1.svg")
              .advantage-item__label
                | Научитесь лучше себя понимать
            .advantage-item
              .advantage-item__icon
                img(src="/images/advantage-2.svg")
              .advantage-item__label
                | Узнаете где
                | вам черпать вдохнвение
            .advantage-item
              .advantage-item__icon
                img(src="/images/advantage-3.svg")
              .advantage-item__label
                | Поймете свои истинные ценности
            .advantage-item
              .advantage-item__icon
                img(src="/images/advantage-4.svg")
              .advantage-item__label
                | Презентуйте себя уверенно и легко
            .advantage-item
              .advantage-item__icon
                img(src="/images/advantage-5.svg")
              .advantage-item__label
                | Компенсируйте свои слабые стороны
            .advantage-item
              .advantage-item__icon
                img(src="/images/advantage-6.svg")
              .advantage-item__label
                | Узнайте как создать сильную и эффективную команду


