mixin archetypes
  .archetypes
    .container
      .row.archetypes__inner
        .archetypes__image
          img(src="/images/archetypes-right-side.png" alt="")
        .col.archetypes__left-side
          h1 АРХЕТИПЫ.
          h2 Пройдите тест и узнайте свой архетип
          .row
            .col.archetypes__text
              p По результатам нашего авторского тестирования, мы определяем ведущие архетипы в вашей жизни, которые нужны для создания основы личного бренда
            .col.archetypes__btn
              a.btn.btn--dark(href="/archetypes.html") Пройти тест




