mixin feedback-form
  form.feedback-form
    .row
      .col-md-3
        input(type="text" name="name" placeholder="Ваше имя")
      .col-md-3
        input(type="mail" name="mail" placeholder="Ваш e-mail")
      .col-md-3
        input(type="phone" name="phone" placeholder="Ваш телефон")
      .col-md-3
        button.btn.btn--block(type="submit") Отправить

mixin feedback
  .feedback
    .feedback__conteiner.container
      h1 Нужна помощь при выборе услуги? Оставь свои контакты, и мы перезвоним
      +feedback-form
      p «Нажимая на кнопку, вы даете согласие на обработку персональных данных <br> и соглашаетесь c политикой конфиденциальности»

