mixin first-screen
  .first-screen
    .container
      .row.first-screen__inner
        .col.first-screen__left-side
            .first-screen__heading Самый простой способ упаковать свой личный бренд в инстаграм
            .first-screen__slogan Каждому гарантируется свобода самовыражения и продвижения!
            .first-screen__btn
              a.btn.btn--light(href="/#feedback") Записаться на <br> консультацию
        .col.first-screen__right-side
            .first-screen__photo
              img.first-screen__photo-img(src="/images/first-screen-photo.png")

mixin first-screen--archetypes
  .first-screen.first-screen--archetypes
    .container
      .row.first-screen__inner
        .col.first-screen__left-side
          .first-screen__heading ТЕСТ. <br> На определение своего архетипа
          .first-screen__slogan Пройди авторский тест Especial brand и узнай свои сильные стороны, в каком направлении лучше развивать свой личный бренд и где брать для этого мотивацию
          .first-screen__btn
            a.btn.btn--light(href="/archetypes-test.html") Пройти тест
        .col.first-screen__right-side
          .first-screen__photo
            img.first-screen__photo-img(src="/images/first-screen-photo-archetypes.png")
