mixin footer
  footer.footer
    .footer__container.container
      .footer__inner
        .footer__title Мы будем рады ответить на ваши вопросы, <br> подписывайтесь на нас в instagram
        .footer__social
          a
            img(src="/images/inst-white.png")
        .footer__logo
          a(href="/")
            img(src="/images/logo-footer-white.png")
