mixin guide
  .guide
    .guide__container.container
        .row
          .guide__left-side.col-lg
            img.bg(src="/images/guide-bg.png")
            div.guide__l1
            h1 гайд.
              .btn
                span Получить гайд
          .guide__right-side.col-lg
            h2 «Как выразить архетип в соц.сетях» 12 pdf файлов про каждый архетип
            p Что внутри ?
            ul
              li Концепция образа в соц. сетях , кто ты и что можешь дать людям
              li Смыслы и ценности, которыми ты сможешь наполнить свой блог
              li Язык твоей целевой аудитории, как общаться в каком тоне и настроении
              li Уникальные фишки для сторис и постов
              li Фирменные темы и рубрики
              li Ключевые слова, способные привлекать новых подписчиков и удерживать старых
              li Примеры аккаунтов вашего архетипа
              li Идеи фото, подачи и позы , которые расскажут о тебе больше слов
              li Цвета и их сочетание, для создания визуала аккаунта , отражающего ваш архетип.
            p.price
              | Стоимость:
              |
              span.g1
                | 2000
                |
              span.g2 руб
