mixin header
  header.header
    .header__container.container
      .header__logo
        a(href="/")
          img(src="/images/logo.png")
      .header__nav
        ul
          li
            a(href="/#about") О нас
          li
            a(href="/#archetypes") Тест Архетипы
          li
            a(href="/#service") Услуги
          li
            a(href="/#guide") Гайд
      .header__social
        a
          img(src="/images/inst-white.png")
