mixin service
  .service
    .service__container.container
      .service__inner.row
        .service__card.col-lg-6
          .service-card
            .service-card__inner
              .service-card__image
                img(src="/images/service-1.jpg" alt="")
              .service-card__bottom
                .service-card__title
                  | Персональная расшифровка архетипов с Анастасией Исаенко
                  .service-card__btn
                    a.btn(href="/#feedback")
                      span Заказать
        .service__about.col-lg-6
          h3 Для кого?

          p Для всех, кто хочет раскрыть свою уникальность, понять свои сильные стороны, получить руководство к действию и изменить свою жизнь к лучшему.

          h3 Что в программе?
          ul
            li zoom конференция, длительностью 1,5 часа
            li расшифровка результатов тестирования
            li найдём твою уникальность, даже если ты считаешь, что ее нет.
            li определим твои сильные и теневые стороны
            li разберём возможные ниши для монетизации
            li обсудим стиль (одежда, обувь, причёска, аксессуары) который подходит вам, по <br> архетипу
            li гайд по использованию ключевого архетипа
            li в соц. сетях в подарок.

          p.service__price
            | Стоимость:
            |
            span.g1
             | 20 000
             |
            span.g2
              | руб
  .service.service--dark
    .service__container.container
      .service__inner.row
        .service__card.col-lg-6
          .service-card
            .service-card__inner
              .service-card__image
                img(src="/images/service-2.jpg" alt="")
              .service-card__bottom
                .service-card__title
                  | Консультация по созданию личного бренда в инстаграм, на
                  .service-card__btn
                    a.btn(href="/#feedback")
                      span Заказать
                  | основании
                  | архетипов
        .service__about.col-lg-6
          h3 Для кого?

          p Для экспертов, блогеров, предпринимателей, продающих свои товары и услуги в Инстаграм.

          h3 Что в программе?
          ul
            li zoom конференция, длительностью 2 часа
            li расшифровка результатов тестирования
            li найдём твою уникальность, даже если ты считаешь, что ее нет.
            li определим твои сильные и теневые стороны
            li пропишем стратегию ведения аккаунта
            li определим визуал (посты, сторис), на основании примеров
            li изучим язык вашей целевой аудитории
            li проработка ключевых слов в контенте, для хороших продаж
            li гайд по использованию ключевого архетипа в соц. сетях в подарок.

          p.service__price
            | Стоимость:
            |
            span.g1
             | 25 000
             |
            span.g2
              | руб

  .service
    .service__container.container
      .service__inner.row
        .service__card.col-lg-6
          .service-card
            .service-card__inner
              .service-card__image
                img(src="/images/service-3.jpg" alt="")
              .service-card__bottom
                .service-card__title
                  | Консультация по стилю, на основании архетипов
                  .service-card__btn
                    a.btn(href="/#feedback")
                      span Заказать
        .service__about.col-lg-6
          h3 Для кого?

          p
            | Для тех, у кого в шкафу 100500 вещей и все время нечего одеть, у кого в магазине глаза разбегаются и хочется всего и сразу, или наоборот, ничего не нравится и не можешь себе подобрать что либо.

          h3 Что в программе?
          ul
            li zoom конференция, длительностью 1,5 часа
            li расшифровка результатов тестирования
            li найдём твою уникальность
            li определим базовый гардероб
            li познакомимся с трендами и антитрендами
            li этого сезона
            li познакомимся с сочетанием цветов, подходящие к твоему архетипу
            li научимся выбирать правильные вещи и сочетать их друг с другом, создавая по 2-3 разных образа из одних и тех же вещей

          p.service__price
            | Стоимость:
            |
            span.g1
              | 15 000
              |
            span.g2
              | руб

  .service.service--dark
    .service__container.container
      .service__inner.row
        .service__card.col-lg-6
          .service-card
            .service-card__inner
              .service-card__image
                img(src="/images/service-4.jpg" alt="")
              .service-card__bottom
                .service-card__title
                  | персональное обучение у Анастасии Исаенко
                  .service-card__btn
                    a.btn(href="/#feedback")
                      span Заказать
        .service__about.col-lg-6
          p Если вы хотите научиться разбираться в архетипах, и использовать их для стиля, личного бренда или в психологии, то вы можете пройти персональное обучение у Анастасии Исаенко.
          h3 Для кого?
          p Для экспертов, коучей,психологов, стилистов, менеджеров блогеров и др.

          h3 Что в программе?
          ul
            li 5 онлайн уроков с Анастасией Исаенко по 2 часа
            li дипломная работа
            li получение сертификата
            li Все 12 гайдов по использованию архетипов
            li в соц сетях в подарок

          p.service__price
            | Стоимость:
            |
            span.g1
             | 50 000
             |
            span.g2
              | руб
