.base-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  padding-top: $header-height;

  &__header, &__footer {
    z-index: 10;
  }

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__content {
    flex-grow: 1;
  }
}
