$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Playfair Display SC', serif;

$header-height: 78px;

$grid-gutter-width: 20px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1200px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1166px
) !default;
